type: bluemix
server:
  displayName: United Kingdom
  name: eu-gb
  host: eu.apiconnect.ibmcloud.com
org:
  id: 5a20091f0cf203144ad5de54
  name: jog-ob-stet
  displayName: jog (ob-stet)
  orgType: apiProvider
  status: active
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
  dormant: false
  url: 'https://eu.apiconnect.ibmcloud.com/v1/orgs/5a20091f0cf203144ad5de54'
  externalOrgId: f7dbc145-1114-4e3a-b31b-af1b076afbed
  externalInviteOverride: 'https://console.bluemix.net/apis/catalog/invitation?env_id=ibm:yp:eu-gb'
  externalSpaceId: f7dbc145-1114-4e3a-b31b-af1b076afbed
  externalNativeOrgId: 4b267101-e842-4cad-8cea-5279b4e04a1e
  bluemix:
    inviteUri: 'https://console.bluemix.net/apis/catalog/invitation?env_id=ibm:yp:eu-gb'
    organization: 4b267101-e842-4cad-8cea-5279b4e04a1e
    space: f7dbc145-1114-4e3a-b31b-af1b076afbed
catalog:
  id: 5a2009510cf2aa3d02fec730
  orgId: 5a20091f0cf203144ad5de54
  name: Dev
  shortName: dev
  owner:
    id: 5726f8010cf2fc19735baa43
    username: gauci@fr.ibm.com
    context: apimanager
    idpId: 58335d5ed20e47053bf50fd0
    email: gauci@fr.ibm.com
    firstName: ''
    lastName: ''
    status: ACTIVE
    lastLoginTime: '2017-12-14T21:08:09.519+0000'
    url: 'https://eu.apiconnect.ibmcloud.com/v1/users/5726f8010cf2fc19735baa43'
  apiCenter: false
  portalType: ADVANCED
  portalUrl: 'https://developer.eu.apiconnect.ibmcloud.com/jog-ob-stet/dev'
  customPortalUrl: 'https://developer.eu.apiconnect.ibmcloud.com/jog-ob-stet/dev'
  advPortalUrl: 'https://dev-jog-ob-stet.developer.eu.apiconnect.ibmcloud.com'
  gatewayType: DataPowerGateway
  gwServices:
    - id: PRODAPIC_APIMGMT_GATEWAY
      endpointUrl: 'https://api.eu.apiconnect.ibmcloud.com/jog-ob-stet/dev'
  idp: 5a20091f0cf203144ad5de61
  idps:
    - 5a20091f0cf203144ad5de61
  availableRoles:
    - viewer
    - developer
  default: false
  autoDeploy: true
  restrictedDeployment: false
  invitationEnabled: true
  selfSignUpEnabled: true
  spaceEnabled: false
  spaceIds:
    - 5a2009520cf2aa3d02fec738
  testAppEnabled: true
  testAppCredentials:
    clientId: 835517bb-ad99-455e-82fa-9e03b1d7d59d
    clientSecret: qL8vW5tF6nC2cQ7kO2oK0fD7pJ1rP6bA7yT2sB6eE1wP8oA2mA
  createdAt: '2017-11-30T13:36:18.926+0000'
  updatedAt: '2017-11-30T13:37:01.800+0000'
  createdBy: gauci@fr.ibm.com
  updatedBy: gauci@fr.ibm.com
  url: >-
    https://eu.apiconnect.ibmcloud.com/v1/orgs/5a20091f0cf203144ad5de54/environments/5a2009510cf2aa3d02fec730
  applicationLifecycleEnabled: false
  productDeploymentApprovalRequiredStates: []
  orgName: jog-ob-stet
space:
  none: true
app:
  metadata:
    guid: 358eba61-fe8d-4662-8076-ecd7553b7fa3
  entity:
    guid: 358eba61-fe8d-4662-8076-ecd7553b7fa3
    name: backendaccountsstetpsd2
    routes:
      - guid: 20b83d7c-ba30-4c40-adcf-b805e40d314e
        host: apiconnect-358eba61-fe8d-4662-8076-ecd7553b7fa3
        port: null
        path: ''
        domain:
          guid: 263eaf20-8569-42cb-98a8-9a0d5af08e5a
          name: jog-ob-stet.apic.eu-gb.mybluemix.net
    running_instances: 0
    services:
      - guid: 5c1f6073-b830-4178-bcdf-9450230ada88
        name: availability-monitoring-auto
        bound_app_count: 1
        last_operation:
          type: create
          state: succeeded
          description: ''
          updated_at: '2017-12-15T00:24:09Z'
          created_at: '2017-12-15T00:24:09Z'
        dashboard_url: >-
          https://perfbroker.eu-gb.bluemix.net/1.0/ui/5c1f6073-b830-4178-bcdf-9450230ada88
        service_plan:
          guid: eb8fced2-f867-4766-8ce3-0b0ad0480e64
          name: Lite
          service:
            guid: 319e4fba-96c7-40fc-8762-8e667cb0847c
            label: AvailabilityMonitoring
            provider: null
            version: null
    available_domains:
      - guid: 0e9b9a72-e4cf-4fc5-9e47-b3f20804422a
        name: jog-work-probtp.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: 1327c595-b9f6-485d-ad3f-5f428527b4b7
        name: jog-api.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: 8430a816-3d1d-4b9f-a2e4-e75d0cd78628
        name: jog-demobollore.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: cdb1551e-0425-494a-9fd8-2f4bd2d0e82a
        name: jog-euteam.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: a86d8eba-5393-4d2d-9646-6fe10122acc7
        name: jog-pot.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: 194779e8-938a-48bb-8cb7-b8fccd296a70
        name: gaucifribmcom-dev.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: 68ca8d97-2bbb-43ad-b04e-1baccb5a935e
        name: jog-micro-services.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: 53be2bdb-415b-4fac-b32f-4242f37e4cd4
        name: jog-wavestone.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: 0f3f30fd-e764-4f2e-9fda-eeb4c14fc01a
        name: jog-danone.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: a0bd1ecc-a61a-4c24-8919-28d1cfd68361
        name: jog-testsma.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: b117c678-1773-40d8-9bdf-b4ab781a0d46
        name: jog-bluemixday.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: ac114728-9481-4c30-aeb5-4c4e90cd08b3
        name: jog-academy.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: 3e5dffdb-d5ef-4f11-a609-8bc02c6d2d4b
        name: jog-dev.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: 263eaf20-8569-42cb-98a8-9a0d5af08e5a
        name: jog-ob-stet.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: 0d372422-225e-4b80-bf31-3a08002807d7
        name: jog-groupeup.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: b8a8e76f-cc1b-4fdd-8632-bdd5df2050d2
        name: jog-pocgroupup.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: c6f30e5c-d128-4e91-8f0b-061600e10d05
        name: jog-psd2.apic.eu-gb.mybluemix.net
        owning_organization_guid: 4b267101-e842-4cad-8cea-5279b4e04a1e
      - guid: 75049093-13e9-4520-80a6-2d6fea6542bc
        name: eu-gb.mybluemix.net
        router_group_guid: null
        router_group_type: null
    production: false
    space_guid: f7dbc145-1114-4e3a-b31b-af1b076afbed
    stack_guid: 423dd340-c07e-44c2-b7fb-601c10fd32d3
    buildpack: null
    detected_buildpack: 'SDK for Node.js(TM) (ibm-node.js-6.12.0, buildpack-v3.16.1-20171207-1520)'
    detected_buildpack_guid: 30abdc77-00c3-4cd5-ad47-6a6aa0fa2d37
    environment_json: {}
    memory: 256
    instances: 1
    disk_quota: 1024
    state: STOPPED
    version: 1e1fe24f-0297-4798-bf1f-6860926b56c5
    command: null
    console: true
    debug: null
    staging_task_id: 11749a58-c39d-4587-83ab-7698c02767de
    package_state: PENDING
    health_check_type: port
    health_check_timeout: null
    health_check_http_endpoint: null
    staging_failed_reason: null
    staging_failed_description: null
    diego: true
    docker_image: null
    package_updated_at: '2017-12-15T01:21:52Z'
    detected_start_command: ./vendor/initial_startup.rb
    enable_ssh: true
    ports: null
id: 3ee75c57-5309-42ee-93a5-cbd33605643c
target: 1.0.0
versionOptions:
  inplaceUpdate: true
publishApp: true
workspaceDir:
  path: >-
    /Users/joelgauci/Documents/IBM/workspace/strongloop/backendAccountPaymentStetPSD2
